<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>indix_app_key</key>
	<string>&lt;YOUR_INDIX_API_KEY&gt;</string>
	<key>indix_app_id</key>
	<string>&lt;YOUR_INDIX_API_ID&gt;</string>
	<key>homeScreenBlurredBackgroundImage</key>
	<string>list_titlebar_bg.png</string>
	<key>homeScreenBlurredBackgroundTintColor</key>
	<string>255,20,20,0.2</string>
	<key>listTitleBlurredBackgroundImage</key>
	<string>list_titlebar_bg.png</string>
	<key>homeAppLogoImage</key>
	<string>home_app_name.png</string>
	<key>widgetAppLogoImage</key>
	<string>home_app_name.png</string>
	<key>share_widget_identifier</key>
	<string>producthuntr</string>
	<key>group_identifier</key>
	<string>group.com.indix.opensource.ProductHuntr</string>
	<key>database_name</key>
	<string>producthuntr.sqlite</string>
</dict>
</plist>
